<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
        <a href="/"> Adicionar Cliente</a>
      <% for(let i=0; i < allclientes.length; i++) {%>
          <div id ='<%=allclientes[i]._id%>'>
              <h2> <%=allclientes[i].name%> </h2>
              <h5> <%=allclientes[i].cidade%> </h5>
              <h5> Dia da próxima ação <%=allclientes[i].date%> </h5>
              <button onclick="removeCliente('<%=   allclientes[i]._id%>')")> Delete </button>
              <a href="/edit/<%=allclientes[i]._id%>"> Editar </a>
          </div>
      <%}%> 

      <script>
          function removeCliente(id) {
            fetch('/'+ id, {method: 'DELETE'}).then(res=>{
                if (res.status==200){
                res.text().then(clienteId=>{
                    document.getElementById(clienteId).remove()
                })
                }
                else {
                    res.json().then(err=>{
                        console.log(err.message);
                        alert(err.message)
                    })
                }
            })
    }
      </script>

</body>
</html>