<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirection</title>
</head>
<body>
    <h1> Editar Cliente</h1>
    <a href="/todos"> Lista de Clientes</a>
    <h1>
        <form action="/edit/<%=body.id%>" method="POST">
            <input classe = "field" name="nome" placeholder="nome" value="<%=body.name%>">
            <input classe = "field" name="cidade" placeholder="cidade" value="<%=body.cidade%>">
            <input classe = "field" name="vendedor" placeholder="vendedor" value="<%=body.vendedor%>">
            <input type= "date"  name="dia" placeholder="dia da proxima visita" value="<%=body.dia%>">
            <button> Concluir Edição</button>
        </form>
        <form action="/dell" method= "post">

        </form>
    </h1>
</body>
</html>